{% extends "mainpage/main.html" %}
{%  load static %}

{% block content %}

<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{% static 'mainpage/css/styles.css'%}" />
        <script src="{% static 'mainpage/js/new.js'%}" async></script>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="{% static 'mainpage/css/bootstrap.min.css'%}">

<!-- jQuery library -->
        <script src="{% static 'mainpage/js/jquery.min.js'%}"></script>

<!-- Latest compiled JavaScript -->
        <script src="{% static 'mainpage/js/bootstrap.min.js'%}"></script>
    

    
</head>
<body>

<div class="container" style="padding-top: 10px; padding-bottom: 10px;">
        <section class="container content-section">
            <h2 class="section-header">BABY NEEDS</h2>
            <div class="shop-items">
                <div class="shop-item">
                    <span class="shop-item-title">BABY FOOD</span>
                    <img class="shop-item-image" src="{% static 'mainpage/images/babyfood.jpg'%}">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$12.99</span>
                        <button class="btn btn-primary shop-item-button" type="button" onclick='saloni("baby food","12.99")'>ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">BABY CARE</span>
                    <img class="shop-item-image" src="{% static 'mainpage/images/babycare.jpg'%}">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$14.99</span>
                        <button class="btn btn-primary shop-item-button"type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">BABY CREAMS</span>
                    <img class="shop-item-image" src="{% static 'mainpage/images/babrcream.jpg'%}">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$9.99</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
               
        </section>
        <section class="container content-section">
            <h2 class="section-header">PERSONAL CARE</h2>
            <div class="shop-items">
                <div class="shop-item">
                    <span class="shop-item-title">SKIN CARE</span>
                    <img class="shop-item-image" src="{% static 'mainpage/images/skincare.jpg'%}">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$12.99</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">HAIR CARE</span>
                    <img class="shop-item-image" src="{% static 'mainpage/images/haircare.jpg'%}">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$14.99</span>
                        <button class="btn btn-primary shop-item-button"type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">ORAL CARE</span>
                    <img class="shop-item-image" src="{% static 'mainpage/images/oralcare.jpg'%}">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$9.99</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
                
            
        </section>
        <section class="container content-section">
            <h2 class="section-header">HEALTH AND NUTRITION</h2>
            <div class="shop-items">
                <div class="shop-item">
                    <span class="shop-item-title">HEALTH DRINKS</span>
                    <img class="shop-item-image" src="{% static 'mainpage/images/healthdrink.jpg'%}">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$16.99</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">BREAK FAST CEREALS</span>
                    <img class="shop-item-image" src="{% static 'mainpage/images/breakfastcereal.jpg'%}">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$14.99</span>
                        <button class="btn btn-primary shop-item-button"type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">DAIRY PRODUCTS</span>
                    <img class="shop-item-image" src="{% static 'mainpage/images/dairyproduct.jpg'%}">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$9.99</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
               
            
        </section>
         <section class="container content-section">
            <h2 class="section-header">VITAMINS AND SUPPLEMENTS</h2>
            <div class="shop-items">
                <div class="shop-item">
                    <span class="shop-item-title">CALCIUM</span>
                    <img class="shop-item-image" src="{% static 'mainpage/images/calcium.jpg'%}">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$16.99</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">VITAMINS</span>
                    <img class="shop-item-image" src="{% static 'mainpage/images/vitamins.jpg'%}">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$14.99</span>
                        <button class="btn btn-primary shop-item-button"type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">PROTEIN SUPPLEMENTS</span>
                    <img class="shop-item-image" src="{% static 'mainpage/images/ps.jpg'%}">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$9.99</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
               
            
        </section>
         <section class="container content-section">
            <h2 class="section-header">DIABETIC NEEDS</h2>
            <div class="shop-items">
                <div class="shop-item">
                    <span class="shop-item-title">NUTRITION</span>
                    <img class="shop-item-image" src="{% static 'mainpage/images/nutrition.jpg'%}">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$16.99</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">TESTING NEEDS</span>
                    <img class="shop-item-image" src="{% static 'mainpage/images/testing.jpg'%}">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$14.99</span>
                        <button class="btn btn-primary shop-item-button"type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">MEDICATION</span>
                    <img class="shop-item-image" src="{% static 'mainpage/images/medication.jpg'%}">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$9.99</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
               
            
        </section>

         <section class="container content-section">
            <h2 class="section-header">OTC AND HEALTH NEEDS</h2>
            <div class="shop-items">
                <div class="shop-item">
                    <span class="shop-item-title">PAIN RELIEF</span>
                    <img class="shop-item-image" src="{% static 'mainpage/images/painrelief.jpg'%}">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$16.99</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">FIRST AID</span>
                    <img class="shop-item-image" src="{% static 'mainpage/images/firstaid.jpg'%}">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$14.99</span>
                        <button class="btn btn-primary shop-item-button"type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">JOINT CARE</span>
                    <img class="shop-item-image" src="{% static 'mainpage/images/jcare.jpg'%}">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$9.99</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
               
            
        </section>
        </div>





       
        <section class="container1 content-section">
            <h2 class="section-header">CART</h2>
            <div class="cart-row">
                <span class="cart-item cart-header cart-column">ITEM</span>
                <span class="cart-price cart-header cart-column">PRICE</span>
                <span class="cart-quantity cart-header cart-column">QUANTITY</span>
            </div>
            <div class="cart-items">
            </div>
            <div class="cart-total">
                <strong class="cart-total-title">Total</strong>
                <span class="cart-total-price">$0</span>
            </div>

          <!--  <div>
                <label> Name of User:</label>
                <input type="textfield" name="user">
                <label> Total</label>
                <input type="textfield" name="Total">
                <label>Quantity</label>
                <input type="textfield" name="quantity">
            </div> -->
            <button onclick="saloni()"> click </button>
            <button class="btn btn-primary btn-purchase btn btn-success" href="{% url 'db' %}" type="button"> PURCHASE</button>
        </section>
        
</body>
<script>
    function saloni(n,p){
        alert("saloni");
        var name=n;
        var price=p;
        $.ajax({
            type: "POST",
            timeout: 30000,
            url: "http://localhost:8000/db",
            data: {
                'name':name,
                'price':price,
                'user':'{{user.username}}',
            },
            
            dataType: "json",
            success: function (msg) {
                window.reload();
            }
        });

    }
</script>
</html>

{% endblock content %}